* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #3d3b3b;
}

.container header {
    width: 100vw;
    height: 70px;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: all ease-in-out 0.6s;
}

nav ul li a:hover {
    color: rgba(29, 36, 55, 0.611);
    text-shadow: 0 0 5px #fff;
}

.disp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -35px;
}

.theDisplay {
    font-size: 10rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

#clock #dateDisplay {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}


#timer #timerDisplay {
    font-size: 10rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}


#timer #timerBtns,
#chrono #chronoBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #3d3b3b;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
}

.btn:hover {
    background-color: #fff;
    color: #3d3b3b;
    text-shadow: 0 0 5px #3d3b3b;
}

#timer #timerBtns input {
    width: 100px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: #3d3b3b;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
    text-align: center;
}

.inputTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputTime label {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

#clock {
    display: flex;
}

#timer {
    display: none;
}

#chrono {
    display: none;
}

@media (max-width:790px) {
    .theDisplay {
        font-size: 6rem;
    }
}